/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}
html{
    font-size: 62.5%;
}
@media (max-width: 991px) {
    .html{
          font-size: 55%;
          scroll-padding-top: 7rem;
      }
  }